# Compiled class file
*.class

# Log file
*.log
*.log*

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME) 
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDEA project environment #
*.iml
.idea

# Eclipse project environment #
.settings
.project
.classpath
.factorypath
.springBeans
target

# Spring Tool Suits project environment #
.sts4-cache

# Maven
.flattened-pom.xml

# Devops
**/CURRENT_BRANCH
**/CURRENT_SHA

# data
appendonly.aof
dump.rdb
*.sdi
*.ibt
*.ibd
undo_*
*.dblwr
binlog.*
*.pem
*.CSV
*.CSM
ib*
*.sock
auto.cnf